
*{margin: 0; padding:0;}
li{list-style:none;}


.slide_wrapper{
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.slides{
    position: absolute;
    left: 0; top: 0;
    transition: left 0.3s ease-out;
}

.slides li:not(:last-child) {
    float: left;
    margin-right: 30px;
}

.controls{
    width: 960px;
    display: flex;
    text-align: center;
    margin-top: 130px;
    justify-content: space-between;

}

.controls span{
    position: relative;
    z-index: 40;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;  
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide_wrapper:hover .controls span{
    opacity: 1;
}




